---
# Process me!
---

@import "colours";

html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100%;
  max-height: 100%;
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  color: #3A4145;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
}

.blog-post {
  padding: 100px 0;
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
  padding-bottom: 4rem;
  border-bottom: #EBF2F6 1px solid;
  word-wrap: break-word;

  h1, h2, h3, h4, h5, h6 {
    color: #2E2E2E;
    line-height: 1.15em;
    margin: 0 0 0.4em 0;
    font-family: "Open Sans", sans-serif;
    text-rendering: geometricPrecision;
  }

  p {
    margin-bottom: 18px;
  }

  h4 {
    font-size: 2.5rem;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: #EFEFEF 1px solid;
    margin: 3.2em 0;
    padding: 0;
  }

  .blog-date {
    color: $grey;
    display: block;
    margin-bottom: 40px;
  }
}