<footer class='main-footer'>
  <div class="container">
    <div class="flex-row">
      <div class="footer-col-1">
        <div class="logo">devwalks</div>
        <div class="logo-tagline">Software Development Australia</div>
        <div class="flex-row footer-icons">
        </div>
      </div>
      <div class="footer-col-2">
        <div class="footer-links">
          <ul>
            <li>
              <a href="https://benwalks.com" target="_blank">Consulting</a>
            </li>
            <li>
              <a href="/blog/">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class='white copyright'>Copyright © 2017 Devwalks. All rights reserved.</p>
  </div>
</footer>