<footer class='main-footer'>
  <div class="container">
    <div class="flex-row">
      <div class="footer-col-1">
        <div class="logo">devwalks</div>
        <div class="logo-tagline">Business Driven Development</div>
        <div class="flex-row footer-icons">
          <a href='https://www.instagram.com/devwalksdev' target="_blank"><img src="/assets/img/instagram.png" alt="Instagram" class="social-icon" /><a>
          <a href='https://www.twitter.com/devwalksdev' target="_blank"><img src="/assets/img/twitter.png" alt="Twitter" class="social-icon" /></a>
        </div>
      </div>
      <div class="footer-col-2">
        <div class="footer-links">
          <ul>
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a href="/case-studies">Case Studies</a></li>
            <li><a href="/blog/business">Business Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-col-2">
        <div class="footer-links">
          <ul>
            <li><a href="/blog/tech">Technical Blog</a></li>
            <li><a href="/about">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <p class='white copyright'>Copyright © 2017 Devwalks. All rights reserved.</p>
  </div>
</footer>