<head>
  <!-- Meta Tags  -->
  <title>
    {% if page.title == "Home" %} {{ site.title }} &middot; {{ site.tagline }} {% else %} {{ page.title }} &middot; {{ site.title
    }} {% endif %}
  </title>
  <meta charset="UTF-8">
  <meta name="description" content="An experienced software developer right here in Australia. Work with a single person from start to finish on your software development project.">
  <meta name="keywords" content="Web Development,Software Development Australia,Freelance Developer Australia">
  <meta name="author" content="Devwalks">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- Font -->
  <script src="https://use.typekit.net/snn1gqd.js"></script>
  <script>try{Typekit.load({ async: false });}catch(e){}</script>
  
  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Icons -->
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">

  <!-- GA tracking -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52897984-4', 'auto');
    ga('send', 'pageview');

  </script>

</head>