@import 'colours';
// 
// Button Styling
// 

// Standard outline button

button, input[type="submit"] {
  color:#2C2C2C;
  border: none;
  background: #fff;
  padding: 12px 24px;
  transition: color 0.68s, background 0.3s;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background: $blue;
    color: #fff;
  }
}

.btn {
  color: #2C2C2C;
  background-color: #fff;
  padding: 12px 24px;
  transition: color 0.68s, background 0.3s;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background: $blue;
    color: #fff;
  }
}

.btn-outline {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;

  &:hover {
    border: 1px solid $blue;
  }
}

.btn--blue {
  border: 2px solid $blue;
  color: $blue;

  &:hover {
    background-color: $blue;
    color: #fff;
  }
}

// LANDING PAGE BUTTONS
.button {
  padding: 8px 24px;
  transition: box-shadow cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    text-decoration: none;
    box-shadow: 0 4px 24px rgba(0,0,0,0.18);
  }
}

.button.is-primary {
  background-color: #3185FC;
  color: #fff;
  font-weight: bold;
}