
// Hero Section

.home-hero {
  background-image: linear-gradient(45deg, #2E3192 0%, #1BFFFF 100%);
  padding: 160px 30px;

  @media screen and (max-width: $break-large) {
    padding: 100px 0px 90px;
  }
}

.hero-container {
  max-width: 640px;
  margin: 0px auto;
  border: 15px solid #fff;
  padding: 60px 40px;
  text-align: center;

  h1, p, a {
    color: #fff;
  }

  .hero-title-top {
    font-size: 64px;
    line-height: 64px;
    display: block;
  }

  .hero-title-mid {
    font-size: 96px;
    line-height: 84px;
    display: block;
  }

  .hero-title-bottom {
    display: block;
    font-size: 32px;
    line-height: 32px;
  }

  p {
    font-size: 24px;
    line-height: 32px;
    margin: 2rem 0;
  }
}

@media screen and (max-width: $break-small) {
  .home-hero {
    padding: 80px 10px 60px;
  }

  .hero-container {
    .hero-title-top {
      font-size: 36px;
      line-height: 28px;
    }

    .hero-title-mid {
      font-size: 64px;
      line-height: 56px;
    }

    .hero-title-bottom {
      font-size: 24px;
      line-height: 24px;
    }

    p {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.home-section {
  padding: 120px 30px;
}

.creative-flex {
  display: flex;
  align-items: center;
}

.creative-image {
  display: inherit;
  position: relative;
  left: -10%;
  width: 60%;
}

.tech-image {
  width: 40%;
  margin-left: 40px;
}

.process-section, .what-section {
  border-bottom: 10px solid #2C2C2C;
}

.process-cell {
  margin-bottom: 2rem;

  img {
    display: inline-block;
    margin: 0 10px 0 0;
  }

  h3 {
    display: inline-block;
    position: relative;
    bottom: 12px;
    margin-bottom: 0px;
  }

  p {
    margin-left: 48px;
  }
}

@media screen and (max-width: $break-large) {
  .creative-flex {
    display: block;
  }

  .creative-image {
    display: block;
    position: initial;
    margin: 0 auto;
    width: 80%;
  }

  .tech-image {
    width: 80%;
  }
}

.home-list {
  list-style-image: url('https://res.cloudinary.com/devwalks/image/upload/v1505714999/list-img_njxjjo.png');
  
  padding-left: 1.5rem;
  margin: 40px 0;

  li {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
}

.heading-icon-group {
  display: flex;
  flex-direction: row;

  img {
    margin-left: 15px;
  }
}

.home-why {
  h4, p {
    color: #fff;
    text-align: center;
  }

  h4 {
    margin-bottom: 20px;
  }

  p {
    font-size: 0.8em;
    font-weight: 300;
  }
}

.home-featured-article {
  background-image: url('https://res.cloudinary.com/devwalks/image/upload/v1505179890/early-projects-index_hdsfur.png');
  background-size: cover;
  background-position: top;
  position: relative;

  .dark-overlay {
    background-color: rgba(41,41,44,0.8);
  }

  .featured-container {
    padding: 100px 0;
  }

  h2, p {
    color: #fff;
  }

  h2 {
    text-transform: uppercase;
    font-size: 64px;
    line-height: 58px;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  a {
  }
}

@media screen and (max-width: $break-large) {
  .dark-overlay {
    padding: 30px;
  }
}

.home-articles {
  .section-header {
    margin-bottom: 40px;
  }

  p {
    font-size: 1.2rem;
  }
}

.home-contact {
  background-image: linear-gradient(45deg, #2E3192 0%, #1BFFFF 100%);

  h2 {
    @media screen and (max-width: $break-small) {
      text-align: center;
    }
  }

  .form, .info {
    flex: 1;
  }

  .info {
    margin-left: 30px;

    @media screen and (max-width: $break-small) {
      margin-left: 0;
    }

    p {
      margin-bottom: 18px;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: $break-small) {
  .home-contact .flex-row {
    display: block;
  }

  .form, .info {
    flex: none;
    width: 100%;
    margin-bottom: 30px;
    display: block;
  }
}

.home-blog {
  background: $light-grey;

  .flex-row {
    justify-content: space-between;
  }
}

.blog-preview {
  width: 280px;
  padding: 20px;
  text-decoration: none;
  color: $body;
  transition: box-shadow 0.68s, color 0.3s;

  p {
    margin-top: 20px;
    font-weight: 300;
    color: $grey;
  }

  &:hover {
    color: $blue;
  }

  @media screen and (max-width: $break-large) {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
    }
  }
}