
// Hero Section

.home-hero {
  background-image: url(https://res.cloudinary.com/devwalks/image/upload/v1516584261/dw-bg_1_t2ueni.jpg);
  padding: 240px 30px;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: $break-large) {
    padding: 100px 0px 90px;
  }
}

.hero-container {
  h1, p {
    color: #fff;
  }

  h1 {
    line-height: 1.12em;
    text-shadow: 0px 1px 6px rgba(0,0,0,0.36);
  }


  p {
    font-size: 24px;
    line-height: 32px;
    margin: 2rem 0;
  }

  #love {
    color: #fff;
    animation: beat .25s infinite alternate;
    transform-origin: center;
    display: inline-block;
    font-style: italic
  }

  @keyframes beat{
    to { transform: scale(1.02); }
  }
}

@media screen and (max-width: $break-small) {
  .home-hero {
    padding: 80px 10px 60px;
  }

  .hero-container {
    .hero-title-top {
      font-size: 36px;
      line-height: 28px;
    }

    .hero-title-mid {
      font-size: 56px;
      line-height: 48px;
    }

    .hero-title-bottom {
      font-size: 24px;
      line-height: 24px;
    }

    a {
      font-size: 12px;
    }

    p {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.home-section {
  padding: 120px 30px;
}

.home-series {
  .card {
    display: flex;
    max-width: 45%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    .card-image {
      height: 250px;
    }

    .card-image.instagram {
      background: url(https://res.cloudinary.com/devwalks/image/upload/v1505180726/Screen-Shot-2015-07-16-at-11-23-20-pm_gsmymy.png) no-repeat center center;
      background-size: cover;
    }
    
    .card-image.basecamp {
      background: url(https://res.cloudinary.com/devwalks/image/upload/v1507771960/static-project-page_dtbpiu.png) no-repeat center center;
      background-size: cover;
    }

    h3 {
      margin-top: 16px;
    }

    .button {
      display: block;
      width: 100%;
    }
  }

  .view-all {
    display: inline-block;
    margin-top: 40px;
  }
}

.home-opt-in {
  background: #010101;
}