

// 
// Page Layout
// 

.container {
  max-width: 920px;
  margin: 0px auto;
}

.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.center-aligned {
  align-items: center;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}
