

// 
// Page Layout
// 

.container {
  max-width: 920px;
  margin: 0px auto;
}

.grid {
  display: flex;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}