@import 'colours';

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .navbar__wrap {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #fff;
    font-weight: 300;

    @media screen and (max-width: $break-large) {
      padding: 0 30px;
    }

    @media screen and (max-width: $break-small) {
      padding: 0 15px;
    }

    .logo {
      color: #fff;
      font-weight: 500;

      &:hover {
        text-decoration: none;
      }
    }

    .navbar__link {
      color: #fff;
      margin-left: 20px;
      transition: color 0.68s;
      font-size: 16px;
      font-weight: lighter;

      &:hover {
        color: $orange;
        text-decoration: none;
      }
    }
  } 
}

.navbar--blog {
  .navbar__wrap {
    color: #2C2C2C;

    .logo, .navbar__link {
      color: #2C2C2C;
    }
  }
}