@import 'colours';

.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: rgba(39, 39, 39, 0.8);

  .navbar__wrap {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #fff;
    font-weight: 300;

    @media screen and (max-width: $break-large) {
      padding: 0 30px;
    }

    .logo {
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }

    .navbar__link {
      color: #fff;
      margin-left: 20px;
      transition: color 0.68s;
      font-size: 16px;

      &:hover {
        color: $orange;
        text-decoration: none;
      }
    }
  } 
}