@import "colours";

.gradient-bg {
  background-color: $blue;
  height: 100%;
}

.text-center {
  text-align: center;
}

.m-t-2 {
  margin-top: 2rem;
}

.m-b-2 {
  margin-bottom: 2rem;
}

.m-b-3 {
  margin-bottom: 3rem;
}