<!DOCTYPE html>
<html lang="en">
{% include blog_head.html %}
<body>
  {% include navbar.html %}
  <div class="blog-post">
    <h1>{{ page.title }}</h1>
    {{ content }}
    <!-- Begin MailChimp Signup Form -->
    <div class="mailchimp-signup" id="mc_embed_signup">
      <form action="//devwalks.us8.list-manage.com/subscribe/post?u=4605ca3d7f952d3b914e7531a&amp;id=b05572ae38" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Come along for the journey and be notified every step of the way.</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4605ca3d7f952d3b914e7531a_b05572ae38" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe Now" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
    </div>

<!--End mc_embed_signup-->
    <div id="disqus_thread"></div>
  </div>
  
  <script>
    var disqus_config = function () {
    this.page.url = "https://www.devwalks.com{{ page.url }}"; 
    this.page.identifier = "{{ page.id }}" || "{{ page.url }}";
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://devwalks.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% include footer.html %}
</body>

</html>